.container.firstcontent

    h2 Contatti
    p.text Questa è un’iniziativa di 
        a(href="https://twitter.com/_vecna", target="_blank") Claudio Agosti
        |, realizzata in concomitanza con la puntata di Report del 22 Maggio 2017. L'iniziativa di analisi e campagna non è affiliata a nessuna organizzazione, non ci sono sponsor.

    h3 Gli obiettivi a lungo termine del progetto
    ul 
        li ridurre al minimo i traccianti sui siti a maggior fequentazione
        li la responsabilizzazione degli amministratori di siti web
        li l’abbandono dei traccianti più invasivi.
        li l’esercizio massiccio del diritto d’accesso prima che il nuovo regolamento privacy vada in vigore. In questo momento il Garante per la Protezione Dati Personali ha 
            a(href="http://www.garanteprivacy.it/home/diritti/come-agire-per-tutelare-i-nostri-dati-personali") questa linea guida
            |, e l'ideale sarebbe raggiungere una procedura al 100% informatizzata.

    h1 Come continuare?
    p.text L’analisi prosegue per i prossimi mesi, osservndo se i traccianti diminuiscono o crescono nel tempo. Si andrà più in profondità per individuare il fingerprinting dei dispositivi, e si migliorerà la procedura per richiedere accesso ai propri dati. La strada è lunga e non può essere risolta da una persona sola.
    p.text L'iniziativa è già condivisa e sotto licenza 
        a(href="https://creativecommons.org/licenses/by/4.0/")
            img(src="/campaign/CC-A-88x31.png")
        |  
        a(href="https://github.com/vecna/itatopex/issues/") sulla piattaforma github
        |. Possono essere discusse collaborativamente le modifiche ai contenuti del sito e le azioni di campagna. Per me non ci sarebbe problema a dare in gestione l’iniziativa ad un gruppo che si dimostrasse interessato e capace di proseguire.

    h2 Se vuoi aiutare, ecco come 
    ul
        li Contatta i gestori dei siti che hanno più traccianti, chiedi loro se possono diminuirli. 
        li Il sistema effettua un'analisi ogni giorni, se vuoi aiutarci a studiare le tendenze (aumentano? diminuscono? cambiano?) o a visualizzare questo mercato dei dati, posso aggiornare il sistema per condividere questi dati.
        li Attivare una campagna sui social media: grazie ai dati si possono creare infografiche da diffondere. Ma al momento manca chi possa lavorare su questo.
        li Approfondire l'analisi dei traccianti. Utilizzando la tecnologia 
            a(href="https://github.com/buffer/thug") thug
            |, utilizzata per fare honeypot web. Viene usata per individuare campagne di 
            a(href="https://it.wikipedia.org/wiki/Malvertising") Malvertising
            |.
            li Fornire ai webmaster indicazioni sui servizi più meritevoli, situati in nazioni rispettose dei nostri diritti, che non fanno uso di traccianti hardware o audio (più invasivi rispetto ai cookies).
            li 

    p.text La piattaforma sulla quale è stata sviluppata l’analisi è: 
        a(href='https://www.github.com/vecna/invi.sible.link/', target='_blank') invi.sible.link
        |.

