.container.firstcontent
    h1 Internet è davvero gratis?
    p.text 
        b No.
        |  In queste pagine si analizza come, 
        b da chi
        |  e quanto gli utenti sono 
        b capitalizzati. 
    h3 Internet è un ecosistema, qui si misura l’inquinamento.
    p.text E l’inquinamento, online, sono i dati che abbiamo perso.
    p.text Come con la spazzatura tradizionale, non è così grave se ci cade a terra uno scontrino. Il danno avviene quando scarichiamo sacchi di plastica e umido. Quantità e Tipologia di dati. Che applicato a questi siti significa: sapere le abitudine informative, commerciali, le debolezze, le paure, le ignoranze che si hanno. Questi sono i dati che vengono carpiti e dedotti, attribuiti ad ogni utente navigante. 
    h2 L’analisi che segue
    p.text E’ stata fatta sui siti web italiani più acceduti, (considerando solo quelli gestiti da realtà italiane, quindi non Google e Facebook ad esempio) per giudicare il loro stato di salute, siccome i siti ai quali accediamo sono, in parte, complici. Forse non consapevolmente? Forse hanno sottostimato l’effetto delle loro scelte? Tutto è possibile, da oggi si può chieder loro se hanno commenti in merito.

    h3 Ma si dice che su internet è tutto anonimo!?
    p.text Nel senso che il tuo nome non è associato a questi dossier, ma che importa quando tutte le tue attività sono associate al numero telefonico? Attorno a quello si associano azioni che sembrano insignificati, ma sono cariche di metadati, e questo porta alla profilazione comportamentale.

    h1 Ricevi dei cookies prima di accettarli?
    #cookiesrank
    p.text Avere dei cookie prima di aver accettato il consenso è possibile per un motivo: solo i cookie di profilazione devono essere dichiarati. Ma possiamo capire quali cookie sono di profilazione e quali invece sono presenti per 
        i motivi tecnici
        |? Clicka sulla colonna per vedere i dettagli dei singoli siti. Va detto che i cookie sono una tecnologia di 20 anni fa, un’era geologica ai tempi di internet. Le tecniche di tracciamento sono cresciute: controlla con 
        a(href="http://webkay.robinlinus.com/" targer="_blank") WebKay 
        | l'impronta digitale del tuo dispositivo. 

    h1 Quali sono le compagnie più presenti nella navigazione?
    p.text I numeri sono espressi in percentuale, prendnedo in considerazione la pagina iniziale dei 25 siti verificati, prima di accettare i cookies
    #companyrank

    h1 I traccianti vengono veicolati dai siti, ecco da chi e quanti
    #simplerender

.container

    h3 Non fraintendiamo il problema con la privacy, qui si parla di di identità (personale e collettiva)
    p.text Immagina che la profilazione, come l’inquinamento, danneggia sia i singoli che i gruppi. Una società profilata è iniqua per definizione.
        b Chi ha accesso ai profili può capire e sfrutare tendenze, debolezze e bisogni della società
        |. 

    h1 Reagire organizzati
    p.text Ci sono quattro diversi modi che possono farci reagire a questo fenomeno. L’autodifesa tecnologica, l’esercizio dei propri diritti ed un comportamento più attento da parte di siti e compagnie.

    h3 ♣ Per gli utenti, soluzioni tecnologiche
    .tableContainer
        div.col-md-12.tableborder
            span.col-md-5.lighter
                p
                  b 
                    a(href="http://www.youronlinechoices.com/it/le-tue-scelte") Nega il consenso
                  |  al tracciamento
            span.col-md-1
            span.col-md-6.lighter
                p Per negare il consenso alla profilazione, dovremmo andare su ogni pagina a negare il consenso, ma il sito 
                    i youronlinechoices
                    |  li ha raccolti tutti con una spiegazione in italiano. 
            span.col-md-5.lighter
                p Naviga protetto (AdBlocker)
                span.reduced 
                    a(href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm") Chrome
                span.reduced
                    a(href="https://addons.mozilla.org/it/firefox/addon/ublock-origin/") Firefox
                span.reduced
                    a(href="https://play.google.com/store/apps/details?id=org.adblockplus.browser") Android
            span.col-md-1
            span.col-md-6.lighter
                p Lo puoi disabilitare quando lo ritieni, ma al momento per impedire il 
                    i fingerprint hardware
                    |, avere uno degli AdBlocker è il solo metodo garantito. lo puoi disabilitare quando ti viene richiesto. Fintato il mercato si comporterà in modo incoscienze nei confronti della sicurezza digitale, viene considerato 
                    a(href="https://www.technologyreview.com/s/601057/are-ad-blockers-needed-to-stay-safe-online/") indispensabile
                    |.

        div.col-md-12.tableborder
            span.col-md-5.lighter
                p Comprendi il rischio. Qui ci sono alcuni video in inglese della 
                    a(href='http://www.internetsociety.org/your-digital-footprint/what-is') Internet Society
            span.col-md-1
            span.col-md-6.lighter
                p Nonstante le garanzie di chi ti offre servizi gratuiti, questo sistema è pensato per 
                    a(href='https://www.propublica.org/article/facebook-lets-advertisers-exclude-users-by-race') non darti tregua
                    |  e non farti
                    a(href="https://www.theatlantic.com/technology/archive/2017/02/browsing-history-identity/515763/") scappare in nessun modo
                    |  (entrambi i link in inglese, per ora)

    h3 ♥ Per gli utenti: esercita i tuoi diritti 
    p.text I dettagli giuridici sono spiegati tra gli approfondimenti, quello che importa sapere è che tu hai il diritto, in quanto cittadino Europeo, a sapere quali dati sono collezionati su di te. Tu però viene profilato in modo anonimo, quindi esistono dati su di te, semplicemente non c'è associato il tuo nome, e non puoi utilizzarlo per identificarti. 
    p.text
        b Sono i cookie ad identificarti
        |  quando vieni profilato, ed allo stesso modo, utilizzermo i cookie per esercitare il nostro diritto d'accesso.

    h3 ♦ Per i gestori dei siti web
    p.text Voi avete una certa responsabilità nello scenario sopra illustrato. Magari avete fatto una valutazione adeguata delle vostre terze parti, magari no. Tuttavia mi permetto di indicare alcune cautele di sicurezza che sarebbe meglio adottaste. Nota bene che questo sito aumenterà le sue capacità di analisi e di reportistica, al fine di tenere traccia di chi tutela al meglio gli utenti e chi invece dimostra disinteresse.
    .tableContainer
        div.col-md-12.tableborder
            span.col-md-5.lighter
                p Usa
                    b HTTPS
                    |, 
                    a(href="https://letsencrypt.org/") è gratuito, non ci sono scuse
                    |! E tutte le risorse esterne che inclusi devono essere anch’esse sicure.
            span.col-md-1
            span.col-md-6.lighter
                p Del resto, l’abuso di canali non cifrati è già stato documentato in forma 
                    a(href="https://www.theguardian.com/world/2014/jan/27/nsa-gchq-smartphone-app-angry-birds-personal-data") passiva
                    |  ed in forma 
                    a(href="http://edition.cnn.com/2015/06/04/opinions/china-great-cannon/index.html") attiva
                    |.

        div.col-md-12.tableborder
            span.col-md-5.lighter
                p
                    b Ridurne
                    |  l'uso, il più possibile
            span.col-md-1
            span.col-md-6.lighter 
                p E’ una forma di rispetto nei confronti dei tuoi utenti e delle comunità alle quali comunicate.
        
        div.col-md-12.tableborder
            span.col-md-5.lighter
                p
                    b Evita
                    |  i traccianti più invasivi.
            span.col-md-1
            span.col-md-6.lighter
                p I cookie sono la tecnologia abilitata per il tracciamento via web. Esistono altri meccanismi di tracciamento che non permettono all'utente di cancellare le proprie attività, di scollegare il proprio profilo o di andare in modalità incognito. E’ vostra responsabilità non affidarvi a collaboratori che abusano delle loro possibilità.

    h3 ♠ Per le compagnie
    p.text Penso questo paragrafo sia piuttosto inutile perché le compagnie sono per la maggior parte al di fuori dell'Italia, ma per far capire la visione d’insieme:
    .tableContainer
        div.col-md-12.tableborder
            span.col-md-5.lighter
                p
                    b Sii trasparente
            span.col-md-1
            span.col-md-6.lighter
                p Periodicamente rilascia dei
                    i transparency report
                    |, nei quali vengono illustrati i tipi di dati collezionati, le procedure di anonimizzazione, quali analisi vengono fatte sui dati ed a quali condizioni vengono rivenduti. 

            span.col-md-5.lighter
                p
                    b Non fate analisi del comportamento singolo
            span.col-md-1
            span.col-md-6.lighter
                p Non cercare di usare i dati collezionati per fare ipotesi su caratteristiche personali. Questo può solo portare a delle violazioni dell'a'
                    a(href="http://www.camera.it/application/xmanager/projects/leg17/commissione_internet/dichiarazione_dei_diritti_internet_pubblicata.pdf") Articolo 9 della Carta dei diritti Internet
                    |.

    h3 Siamo davanti ad un 
        a(href="www.economist.com/news/leaders/21721656-data-economy-demands-new-approach-antitrust-rules-worlds-most-valuable-resource") nuovo potere 
        | con il quale fare i conti
    p.text La profilazione l'avremmo chiamata dossieraggio di massa, 15 anni fa, ma preferisco diversificarla perché:
        ul
            li è fatta in modo automatico e scala senza costi.
            li i dati più sensibili vengono dedotti dai sistemi di analisi che si alimentano di dati apparentemente innoqui.
            li La collezione di profili permette di fare analisi su scala nazionale, o restringere il campo ad una regione, provincia, città o quartieri.
            li Questi profili alimentano strumenti (robot) di comunicazione automatica, come di propaganda e disinformazione. 
            li E’ legittimo vendere questi dati, nella prossima pagina si ha un’idea della confusione del mercato

    p.text Il confuso dibatitto sulle fake news si è concentrato sui sintomi, ma poco sui fondamenti che nel mondo dgitale alimentano quel mercato. Sono i traccianti a pagare i siti di fake news (quanto qualunque altro sito), ed è agendo su queste compagnie, un po’ come sta facendo la campagna 
        a(href="https://www.facebook.com/slpnggiants/") Sleeping
        |  
        a(href="https://twitter.com/slpng_giants") Giants
        |, che si può andare verso un sistema informativo più rispettoso degli individui.

    h2 See more
    p
        a(onclick='loadPage("archive");' class='links') L'analisi approfondita
        br

include footer
