.container.firstcontent
    h1 Analisi del sito "
        span#sitename
        |"

    p.text La metodologia utilizzata è derivata da quella utilizzata nella ricerca WebCensus dell’università di Princeton, e si garantisce la numerazione e documentazione delle terze parti presenti durante la navigazione.
    p.text Un secondo passaggio permette l’attribuzione delle terze parti a delle compagnie. Questo è possibile utilizzando delle liste pubbliche, mantenute ed aggionate nel tempo, nel quale ad esempio si associa il dominio della terza parte
        i  google-analytics.com
        |  alla compagnia
        i  Google
        |. Questo passaggio non può essere automatico, pertanto la lista richiede un mantenimento costante. E’ possibile che alcuni dominii di terze parti non siano ancora attribuite alla compagnia che li possiede. E’ anche possibile che alcune compagnie siano state acquisite da altre cedendo i loro dati ed i loro dominii. Si cerca di starci dietro, ma è un lavoro volontario che viene facilitato poiché il codice del progetto è sotto licenza libera (GPL).
    p.text Di seguito vediamo dettagli sulle terze parti (e dove possibile, la società corrispondente) caricate dai siti
        b prima 
        |  che venga accettato il consenso al trattamento dati personali. (Le analisi vengono aggiornate ogni 24 ore)

    #sitepiegraph
    #sitedetails
