.container.firstcontent
    h1 Analisi del sito "
        span.sitename
        |"

    p.text 
    #domainpiegraph

    p.text 
        b Due parole sulla metodologia: 
        |  è derivata da quella utilizzata nella ricerca 
        a(href="https://webtransparency.cs.princeton.edu/webcensus/" target="_blank") WebCensus 
        |  dell’università di Princeton, che garantisce il conteggio e la documentazione delle terze parti presenti in un dato momento sul sito analizzato. 
    p.text Un secondo passaggio è quello che ci permette di passare dal 
        i dominio di terze parti
        |  osservato, al nome della compagnie. Ad esempio, significa passare dall’aver osservato la presenza di:
        i  google-analytics.com
        |  al dire che la compagnia sia 
        i  Google
        |. Questo passaggio non può essere automatico, la lista richiede un mantenimento costante. E’ possibile che alcuni dominii di terze parti non siano ancora attribuite alla compagnia che li possiede. E’ anche possibile che alcune compagnie siano state acquisite da altre cedendo i loro dati ed i loro dominii. Si cerca di starci dietro, ma è un lavoro volontario facilitato dalla licenza libera (GPL) sotto il quale è distribuito.

    #companypiegraph

    p.text Le terze parti sono contattate 
        b prima 
        |  che venga accettato il consenso al trattamento dati personali.

    h2 I dettagli delle terze parti
    #sitedetails

    h2 Conosci qualcuno che lavora con 
        span.sitename
        |?
    p.text Condividi con loro questa pagina, forse non sanno di avere tutti questi traccianti. Può non essere una loro volontà, ma semplici errori in buona fede. Se non siamo noi che lo sentiamo, a sollevare il problema, il reparto marketing e l'IT non lo sentiranno.
