.container.firstcontent

    h1 Il mercato dei dati

    p.text Quando ti colleghi ad un sito web,
        b  sembra
        |  che ci si sta collegando ad uno ed uno solo sito. In verità sono molti. Molte connessioni che attingono a quello che chiamiamo 
        i  risorse web esterne
        |. Queste risorse appaiono (o sono invisibili) durante la navigazione per diverse giustificazioni: efficienza tecnologica, essere pagati per averlo fatto, analisi del pubblico o nel tentativo di aumentare la visibilità della pagina.

    p.text Qui sotto vediamo sulla destra, colorate, le compagnie che interagiscono con noi. Che sono attive nel nostro dispositivo quando navighiamo. Sulla sinistra, in bianco e nero, ci sono le compagnie che coprano i nostri dati per arricchirli, analizzarli, rivenderli. L’immagine è un’opera derivata dalla ricerca di 
        a(href="http://www.lumapartners.com/resource-center/") LUMA partners
    |  (un po’ datata, del 2012).


    .col-md-12
        img(src="/campaign/Lumascapes-greyscale-2012-reduced.png")
        span.col-md-6 La parte in bianco e nero rappresenta le compagnie ed i flussi che si scambiano i (nostri) dati
        span.col-md-6 La parte colorata rappresenta le compagnie che vediamo presenti sulla nostra navigazione. 

.container
    h1 Il diritto all’Identità
    .quote
        b Articolo 9.
        i (Diritto all’identità).
        ol
            li Ogni persona ha diritto alla rappresentazione integrale e aggiornata delle proprie identità in Rete.
            li La definizione dell’identità riguarda la libera costruzione della personalità e non può essere sottratta all’intervento e alla conoscenza dell’interessato.
            li L’uso di algoritmi e di tecniche probabilistiche deve essere portato a conoscenza delle persone interessate, che in ogni caso possono opporsi alla costruzione e alla diffusione di profili che le riguardano.
            li Ogni persona ha diritto di fornire solo i dati strettamente necessari per l’adempimento di obblighi previsti dalla legge, per la fornitura di beni e servizi, per l’accesso alle piattaforme che operano in Internet.
            li L’attribuzione e la gestione dell’Identità digitale da parte delle Istituzioni Pubbliche devono essere accompagnate da adeguate garanzie, in particolare in termini di sicurezza.
    .source
        a(href="http://www.camera.it/application/xmanager/projects/leg17/commissione_internet/dichiarazione_dei_diritti_internet_pubblicata.pdf") Dichiarazione dei Diritti Internet

.container
    h1 Altre analisi
    p.text L’università di Princeton ha realizzato 
        a(href="https://webtransparency.cs.princeton.edu/webcensus/") un’analisi il Gennaio 2016
        |  ed una tecnologia per monitorare i traccianti sui siti web.
    p.text La differenza tra questa analisi e quella non è tecnologica, ma solo di obiettivo comunicativo. Avendo ridotto i siti analizzati e specificato il messaggio, forse, si potrà ottenere un impatto più sociale e meno sicentifico.

    p.text A fine 2014 avevo pubblicato, in collaborazione con Tactical Tech, il sito d’analisi 
        a(href="https://trackography.org") Trackography

.container
    h1 Strumenti di protezione
    p.text Tecnicamente gli AdBlocker funzionano perché interrompono le connessioni che il browser stabilisce verso le terze parti. Ma come spiegato, alcune terze parti sono necessarie al funzionamento dei siti. Gli AdBlocker indicati in prima pagina concedono un buon compromesso tra usabilità e semplicità, per utenti quotidiani. Se ti interessa esplorare altre forme di protezione, qui ne sono indicate altre. Tieni a mente che non dovresti usarli in cascata. Non serve avere più di uno strumento di blocco sullo stesso browser. Un AdBlocker deve avere dei buoni 
        i default
        |  permettendo di navigare con discreta soddisfazione e leggerezza sui siti, e poi, in determinti momenti in cui vuoi vedere un video, o stai aprendo un’applicazione web, puoi disabilitare l’AdBlocker permettendo il caricamento.
    p.text Bloccare un sito è un’operazione che si fa con un click, tramite l’icona dell’AdBlocker ci sono le varie opzioni disponibili, e se stai usando più di un AdBlocker sullo stesso browser, dovrai andare su ognuno di essi a selezionare lo sbloccaggio. Questo è l’unico motivo per cui non se ne usa più di uno: diventa scomodo.

    h3 
        a(href="https://www.ghostery.com/products/" target="_blank") Ghostery
    span.col-md-5.lighter
        p.text E’ un estensione molto gradevole, che mostra quali sono le compagnie bloccate. Supporta tutti i sistemi operativi ed i principali browser, puoi installarlo dalla 
            a(href="https://www.ghostery.com/products/" target="_blank") loro pagina
    span.col-md-2
    span.col-md-5
        p.text Quando Ghostery è attivo, una finestra in trasparenza appare indicato i nomi delle società bloccate e permesse:
        img(src="/campaign/ghostery-example.png")

    h3
        a(href="https://www.eff.org/privacybadger" target="_blank") Privacy Badger
    p.text E’ un’altra estensione, ma solo per browser (Firefox, Chrome ed Opera). Adotta un approccio tecnologico più avanzato, e il risultato è la miglior estensione per l’autotutela. Non si basa su una lista di traccianti, ma cerca di capire il comportamento delle terze parti e di impedire ogni cosa non necessaria alla navigazione. Con un po’ di analisi euristica e un po’ di addestramento da parte dell’utente, può essere la soluzione più efficace disponibile. Viene spiegato come l’utente può addestrare l’estensione usando un codice colore semaforico, all’inizio vi costerà un po’ di tentativi, ma vi aiuterà anche a capire cosa sono le terze parti e perché non è semplice farne a meno.
   
.container 
    h3 Basterà?
    p.text La profilazione online è fatta con i traccianti, ma anche le interfaccie, i modi d’uso e le relazioni sociali portano con se dei tratti unici per ognuno di noi. Premere il pulsante "condividi" è diverso da copia-incollare il link che si vuole condividere. Non tutti i meccanismi di condivisione lo fanno, ma spesso i link che vengono generati contengono dei marcatori unici, e questo permette, come sempre, di vedere chi ha visto cosa, ma anche di sapere chi ha fatto l’introduzione e di misurare la sua influenza.
    p.text Tieni a mente che
        b  non è realistico raggiungere l’isolamento totale
        |. Privacy e Sicurezza sono due valori sfumati, che vanno rapportati al sistema dal quale ci proteggiamo e al contesto in cui viviamo. In aggiunta, le tecnologie di fingerprinting e di riassociazione degli utenti sono in costante evoluzione. Il modo con cui scriviamo, gli amici che abbiamo, i dispositivi che usiamo e i luoghi dal quale ci colleghiamo ci descrivono e ci rendono unici. Anche se diventi anonimo, riassociando i comportamenti ed i contatti che ti rendono unico, i profili possono venire de-anonimizzati e riattributi, vanificando gli sforzi.
    p.text Per questi motivi, possiamo limitare il danno, limitare il modo in cui le macchine interpretano i nostri comportamenti e possiamo compartimentalizzare la nostra vita per tenere separate le attività che riteniamo più sensibili.
