.container.firstcontent

    h1 Il mercato dei dati

    p.text Quando ti colleghi ad un sito web,
        b  sembra
        |  che ci si sta collegando ad uno ed uno solo sito. In verità sono molti. Molte connessioni che attingono a quello che chiamiamo 
        i  risorse web esterne
        |. Queste risorse appaiono (o sono invisibili) durante la navigazione per diverse giustificazioni: efficienza tecnologica, essere pagati per averlo fatto, analisi del pubblico o nel tentativo di aumentare la visibilità della pagina.

    p.text Qui sotto vediamo sulla destra, colorate, le compagnie che interagiscono con noi. Che sono attive nel nostro dispositivo quando navighiamo. Sulla sinistra, in bianco e nero, ci sono le compagnie che coprano i nostri dati per arricchirli, analizzarli, rivenderli. L'immagine è un'opera derivata dalla ricerca di 
        a(href="http://www.lumapartners.com/resource-center/") LUMA partners
    |  (un po' datata, del 2012).


    h1 La spiegazione ha da continuare con più dettagli
