.container.firstcontent

    h1 Il mercato dei dati

    p.text Quando ti colleghi ad un sito web,
        b  sembra
        |  che ci si sta collegando ad uno ed uno solo sito. In verità sono molti. Molte connessioni che attingono a quello che chiamiamo 
        i  risorse web esterne
        |. Queste risorse appaiono (o sono invisibili) durante la navigazione per diverse giustificazioni: efficienza tecnologica, essere pagati per averlo fatto, analisi del pubblico o nel tentativo di aumentare la visibilità della pagina.

    p.text Qui sotto vediamo sulla destra, colorate, le compagnie che interagiscono con noi. Che sono attive nel nostro dispositivo quando navighiamo. Sulla sinistra, in bianco e nero, ci sono le compagnie che coprano i nostri dati per arricchirli, analizzarli, rivenderli. L'immagine è un'opera derivata dalla ricerca di 
        a(href="http://www.lumapartners.com/resource-center/") LUMA partners
    |  (un po' datata, del 2012).


    .col-md-12
        img(src="/campaign/Lumascapes-greyscale-2012-reduced.png")
        span.col-md-6 La parte in bianca a nera rappresenta le compagnie ed i flussi che si scambiano i (nostri) dati
        span.col-md-6 La parte colorata rappresenta le compagnie che vediamo presenti sulla nostra navigazione. 

.container

    h1 Il diritto all'Identità

    .quote
        b Articolo 9.
        i (Diritto all’identità).
        ol
            li Ogni persona ha diritto alla rappresentazione integrale e aggiornata delle proprie identità in Rete.
            li La definizione dell’identità riguarda la libera costruzione della personalità e non può essere sottratta all’intervento e alla conoscenza dell’interessato.
            li L’uso di algoritmi e di tecniche probabilistiche deve essere portato a conoscenza delle persone interessate, che in ogni caso possono opporsi alla costruzione e alla diffusione di profili che le riguardano.
            li Ogni persona ha diritto di fornire solo i dati strettamente necessari per l’adempimento di obblighi previsti dalla legge, per la fornitura di beni e servizi, per l’accesso alle piattaforme che operano in Internet.
            li L’attribuzione e la gestione dell'Identità digitale da parte delle Istituzioni Pubbliche devono essere accompagnate da adeguate garanzie, in particolare in termini di sicurezza.
    .source
        a(href="http://www.camera.it/application/xmanager/projects/leg17/commissione_internet/dichiarazione_dei_diritti_internet_pubblicata.pdf") Dichiarazione dei Diritti Internet
